* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
    width: 100%;
    overflow-x: hidden;

}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

nav {
    background-color: #000;
    width: 90%;
    margin: 5px auto;
    border-radius: 30px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin: 10px 0;
    padding: 0 40px 0 50px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

ul li a:hover{
    color: #B68D40;
}

.logo-li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 120px;
    max-height: 50px;
}

.tech {
    height: 200px;
    width: 200px;
}


span.text {
    color: #B68D40;   
}

.greet {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 60px;
}

#about {
    position: absolute;
    width: 350px;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: justify;
    font-size: 20px;
}

.contact {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translateX(-50%);
    background-color: #B68D40;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact:hover {
    background-color: #A77B35;
}

.about {
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about:hover {
    background-color: #A77B35;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    top: 20%;
    left: 80%;
    transform: translateX(-50%);
}

.images img {
    height: 400px;
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.profile {
    top: 17%;
}


#hobbies {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.menu-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #B68D40;
}

.menu-toggle {
    visibility: hidden;
}

.text-center {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#education {
    margin: 20px auto;
    max-width: 300px;
}

.timeline {
    position: relative;
}

.branch {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #B68D40;
}

.branch::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #B68D40;
}

.event {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #B68D40;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.event h3 {
    margin-top: 0;
    color: #333;
}

.event p {
    margin-bottom: 5px;
}

.connector {
    position: absolute;
    height: 2px;
    background-color: #ccc;
    left: 50%;  
    transform: translateX(-50%);
    width: calc(100% + 2px); 
    top: 50%;
    transform: translateY(-1px); 
}

.connector-left {
    position: absolute;
    height: 2px;
    background-color: #B68D40;
    right: 100%;
    transform: translateY(-1px);
    width: calc(50% + 2px); 
    top: 50%;
}

.connector-right {
    position: absolute;
    height: 2px;
    background-color: #B68D40;
    left: 100%; 
    transform: translateY(-1px); 
    width: calc(50% + 2px); 
    top: 50%;
}

.event .connector {
    width: calc(100% - 40px); 
    top: 20px; 
}

.event .connector::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ccc;
}

.college,
.secondary,
.pre-school {
    left: 0;
    transform: translateX(-100%);
}

.elementary,
.tertiary {
    left: 0;
    transform: translateX(100%);
}

#hobbies {
    margin: 20px auto;
    max-width: 800px;
}

.timeline {
    position: relative;
}

.timeline ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.timeline ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.timeline ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 100%;
    background-color: #ccc;
}

.timeline ul li:last-child::before {
    height: 50%; 
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.bg-color {
    background-color: #f2f2f2;
    border-radius: 35px;
    padding: 20px;
    margin-top: 50px;
}
.tech-stack {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
    width: 100%;
}

.adobe,
.html, .css {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-right: 20px;
    margin-bottom: 20px; 
}

.adobe img,
.html img, .css img {
    margin-right: 10px;
    height: 80px;
    width: 80px;
}

footer {
    background-color: #B68D40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.footer-logo img {
    width: 140px; 
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
}

.footer-menu li a:hover {
    color: black;
}

.footer-social {
    display: flex;
    align-items: center;
}


.footer-social a {
    margin-right: 10px; 
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.footer-social a i {
    color: white; 
    font-size: 24px; 
}

.footer-social a:hover i {
    color: inherit;
    transform: scale(1.5); 
}

.footer-social a:hover i.fa-facebook-f {
    color: #3b5998;
}

.footer-social a:hover i.fa-github {
    color: #000; 
}

.footer-social a:hover i.fa-instagram {
    color: #e1306c;
}


.copyright {
    margin-top: 20px;
}

.black-bg {
    border-radius: 35px;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container img {
    width: 40%; 
    height: 350px;
}

.description {
    flex-grow: 1;
    margin-left: 20px;
}

.description h4 {
    margin-top: 0;
    color: #333;
}

.description p {
    margin-bottom: 0;
    color: #666;
}


.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #B68D40;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none; 
}

.scroll-top-btn i {
    font-size: 20px;
    margin-top: 10px;
}

#skills {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.skill-item {
    width: calc(33.33% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    box-sizing: border-box; 
    margin: 10px; 
}

#projects {
    width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    position: relative;
    display: none;
}

.mySlides img {
    max-height: 400px; 
    height: 400px;
    margin: 0 auto;
    display: block;
    width: 500px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 100px;
    margin-top: -22px;
    padding: 12px;
    color: #B68D40;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.texts {
    color: red;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media (max-width: 768px) {
    
    .images {
        left: 50%; 
    }

    .hero nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;  
    }

    .hero nav ul.active {
        display: block;
    }

    .hero nav ul li {
        margin: 20px 0;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    .menu-icon {
        z-index: 2000;
        display: block;
    }

    .logo-li {
        display: none;
    }

    .images {
        width: 45%;
        height: 80%;
        position: absolute;
        bottom: 0;
        top: 20%;
        left: 80%;
        transform: translateX(-50%);
    }
    
    .images img {
        height: 400px;
        position: absolute;
        left: -10%;
        bottom: 0;
        transform: translateX(-50%);
        transition: bottom 1s, left 1s;
    }

    .profile {
        top: 15%; 
    }
    
    .greet {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 24px;
    }

    .contact {
        top: 80%;
        width: 50%;
        left: 50%;
    }  
    
    .about {
        top: 90%;
        width: 50%;
        left: 50%;
    }

    #about {
        position: absolute;
        width: 350px;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: justify;
        font-size: 20px;
    }

    #education {
        max-width: 80%;
        margin: 0 auto; 
        text-align: center;
        margin-top: 250px;
    }

    .event {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
    

    .event h3 {
        font-size: 18px; 
    }

    .event p {
        font-size: 14px; 
    }

    .college,
    .secondary,
    .pre-school,
    .elementary,
    .tertiary {
        transform: translateX(0); 
        margin-left: 10%;
    }

    .connector-left,
    .connector-right {
        display: none; 
    }

    .branch {
        display: none;
    }

    .skill-item, .tec {
        width: calc(100% - 20px); 
        padding: 10px 0; 
        margin: 10px auto;
    }
    

    .logo {
        max-width: 100px;
        max-height: 40px;
    }

    nav ul {
        display: none;
    }

    .shape {
        width: 400px;
        height: 400px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        margin-top: 20px; 
    }

    .footer-menu li {
        display: block; 
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .footer-logo {
       display: none;
    }

    .footer-social {
        margin-top: 20px; 
    }

    .copyright {
        margin-top: 20px; 
    }

    .footer-social a {
        margin-right: 10px; 
        margin-bottom: 10px; 
    }

    .adobe,
    .html, .css {
        margin-right: 0; 
    }

    .tech-stack {
        justify-content: flex-start; 
    }
}
